<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
     <% if (locals.user) { %> 
      <%= blogs %>
    <% } %>
    <%- include('./partials/script') %>
  </body>
</html>
